body {
    text-align: center;
}
h1 {
    color: green;
}
h2,h3,h4{
    color:green;
    padding-top: 40px;
}

.center {
    margin: auto;
}

.fas, .fa, .far {
    cursor: pointer;
}

/* styling for matches list */
.matches-list {
    max-width: 780px;
    margin: auto;
}
.match-info .match-number {
    float: left;
}
.match-info button {
    float: right;
}