html {
    height: 100%;
    background-color:#ededed;
}
body {
    height: 90%;
    background-color: #ededed !important;
    color: #212529 !important;
    text-align: center;
    font-family: Arial, sans-serif;
}
.center {
    margin: auto;
}

.fas, .fa, .far {
    cursor: pointer;
}
h2{
    color:green;
}
.game-body {
    display:none;
}

.game-content{
    background-color: #fff;
    margin: 1rem;
    border-radius: 5px;
}
.game-content h2{
    color: #212529;
}
.game-header{
    padding: 1rem;
    cursor: pointer;
}
.game-header:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
}
.hr-game-content{
    margin-top: 0rem;
}
.game-header-left i, .game-header-right i{
    font-size: 120%;
}
#dropdownMenuGameHeader, .dropdownMenuGameFooter{
    width: 1rem;
    color: inherit;
}
.dropdownMenuGameFooter{
    width: 2.5rem;
    color: inherit !important;
}
#dropdownMenuGameHeader:hover{
    /* border: 2px solid gray; */
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
}
.game-header-right .fa-chevron-down:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
}
.game-body{
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.matches-header{
    padding-top: 5rem;
    padding-bottom: 1.5rem;
}
.games-overview .alert{
    max-width: 780px;
    margin: auto;
    margin-top: 2rem;
}
.alert i{
    font-size: 180%;
}
.alert .btn{
    background-color: transparent;
    color: #084298;
}
.game-table{
    max-width: 780px;
}

.flip {
    transform: rotate(-180deg);
}

.bottom-fetcher{
    padding-bottom: 5rem;
}

tr.tr-underline{
    border-bottom: 1.1px dashed #212529;
}

.fa-chevron-up{
    transform: scale(4,1.6);
}
.mobile-game-footer .fa-ellipsis-v{
    font-size: 120%;
}


/* styling for buttons */
.btn-blue{
    background-color: #0001FC !important;
    color: white !important;
}
.btn-blue:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
}
.btn-dark-green{
    background-color: #1d4808 !important;
    color: white !important;
    margin-left: 1rem;
    margin-right: 1rem;
}
.btn-dark-green:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
}
.btn-green{
    background-color: green !important;
    color: white !important;
}
.btn-green:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
}

/* styling for placement-bagdes */
.badge-placement-1{
    background-color: #ffd700;
    color: #212529 !important;
    border: 1.5px solid #212529;
}
.badge-placement-2{
    background-color: #c0c0c0;
    color: #212529 !important;
    border: 1.5px solid #212529;
}
.badge-placement-3{
    background-color: #c5ab84;
    color: #212529 !important;
    border: 1.5px solid #212529;
}
.badge-placement-4{
    background-color: lightpink;
    color: #212529 !important;
    border: 1.5px solid #212529;
}


/* styling for createGameModal */
#createGameModal .modal-content{
    background-color: #ededed;
}
input[id="newTournementName"]{
    width: 242px;
}
.new-player input {
    width: 180px;
}
.game-rounds-group {
    max-width: 160px;;
    margin: auto;
}
#gameRounds{
    cursor: pointer;
}


/* styling for importGameModal */
#importGameModal .modal-content{
    background-color: #ededed;
}
input[id="selectFile"]{
    max-width: 550px;
    margin: auto;
}

/* styling matchResutModal */
#matchResultForm {
    max-width: 180px;
    margin: auto;
}
#matchResultForm label{
    float: left;
}
#matchResultForm input{ 
    float:right;
    width: 2.5em;
} 


/* styling for matches list */
.matches-list {
    max-width: 780px;
    margin: auto;
}
.match-info{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.match-info .match-number {
    float: left;
}
.match-info button {
    float: right; 
    position: absolute;
    right: 0;
    top: 0.8rem;
}


/* Nav bar */
.navbar {
    opacity: 0.95;
}



/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/doubleDashHeroFixed.png");
  
    /* Set a specific height */
    height: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 5rem;
}
  
/* Place text in the middle of the image */
.hero-header h1{         
    font-size: 6rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%); 
    color: white;    
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    color: white;
}

.hero-text p{
      font-size: 1.5rem;
      color: #ededed;
}
.hero-text button{
    margin-bottom: 0.5rem;
}

/* responsive */
@media screen and (max-device-width : 450px){
    .hero-header h1{
        font-size: 2rem;
    }
    .hero-text p{
        font-size: 1rem;
        color: #ededed;
    }
    .hero-text button{
        transform: scale(0.7);
        margin: -0.3rem;
    }
}
@media screen and (min-device-width : 576px){
    .game-header-left, .game-header-right{
        /* padding-top: 0.8rem; */
        display: flex;
        align-items: center;
    }

    .game-table th{
        width: 20%
    }

    #scrollToGamesOverviewButton, #heroTextView{
        display: none !important;
    }
    .mobile-game-footer{
        display: none;
    }
}
@media screen and (max-device-width : 575px){
    /* Removing final-letter col from table on small screens. Comment out since change table to be responsive */
    /* .game-header-right, .final-letter-th, .final-letter-td{
        display: none;
    } */
    .game-header-left div{
        display: inline;
    }
    .game-header-right{
        display: none;
    }
    .d-none-on-sm{
        display: none !important;
    }

    #importGameHeroButton, #heroTextImport{
        display: none !important;
    }
    /* fix for delete modal padding right bug */
    .modal-open{
        padding-right: 0px !important;
    }
}

/* Rules page */
.about-block {
    margin-top: 100px;
    padding-bottom: 70px;
}
.rules-block {    
    box-sizing: border-box;
    background-color: white;
    margin-top: 0px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.tournament-format-block{
    padding-top: 70px;

}

.about-block img, .rules-block img, .tournament-format-block img {
    max-width: 100%;
    height: auto;
}

.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center !important;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 17px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 0;
}