html {
    height: 100%;
    background-color:#ededed;
}
body {
    height: 90%;
    background-color: #ededed !important;
    color: #212529 !important;
    text-align: center;
    font-family: Arial, sans-serif;
    
}
.center {
    margin: auto;
}

.fas, .fa, .far {
    cursor: pointer;
}

.game-body {
    display:none;
}

.game-content{
    background-color: #fff;
    margin: 1rem;
    border-radius: 5px;
}
.game-content h2{
    color: #212529;
}
.game-header{
    padding: 1rem;
    cursor: pointer;
}
.game-header:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
}
.hr-game-content{
    margin-top: 0rem;
}
.game-header-left, .game-header-right{
    padding-top: 0.8rem;
}
.game-header-left i, .game-header-right i{
    font-size: 120%;
}
.game-body{
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.matches-header{
    padding-top: 5rem;
    padding-bottom: 1.5rem;
}
h2{
    color:green;
}
.games-overview .alert{
    max-width: 780px;
    margin: auto;
    margin-top: 2rem;
}
.alert i{
    font-size: 180%;
}
.alert .btn{
    background-color: transparent;
    color: #084298;
}
.game-table{
    max-width: 780px;
}

.flip {
    transform: rotate(-180deg);
}

.bottom-fetcher{
    padding-bottom: 5rem;
}

.game-table th{
    width: 20%
}
tr.tr-underline{
    border-bottom: 1.1px dashed #212529;
}


/* styling for buttons */
.btn-blue{
    background-color: #0001FC !important;
    color: white !important;
}
.btn-blue:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
}
.btn-dark-green{
    background-color: #1d4808 !important;
    color: white !important;
    margin-left: 1rem;
    margin-right: 1rem;
}
.btn-dark-green:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
}
.btn-green{
    background-color: green !important;
    color: white !important;
}
.btn-green:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
}

/* styling for placement-bagdes */
.badge-placement-1{
    background-color: #ffd700;
    color: #212529 !important;
    border: 1.5px solid #212529;
}
.badge-placement-2{
    background-color: #c0c0c0;
    color: #212529 !important;
    border: 1.5px solid #212529;
}
.badge-placement-3{
    background-color: #c5ab84;
    color: #212529 !important;
    border: 1.5px solid #212529;
}
.badge-placement-4{
    background-color: lightpink;
    color: #212529 !important;
    border: 1.5px solid #212529;
}


/* styling for createGameModal */
#createGameModal .modal-content{
    background-color: #ededed;
}
input[id="newTournementName"]{
    width: 242px;
}
.new-player input {
    width: 180px;
}


/* styling matchResutModal */
#matchResultForm {
    max-width: 180px;
    margin: auto;
}
#matchResultForm label{
    float: left;
}
#matchResultForm input{ 
    float:right;
    width: 2.5em;
} 


/* styling for matches list */
.matches-list {
    max-width: 780px;
    margin: auto;
}
.match-info{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.match-info .match-number {
    float: left;
}
.match-info button {
    float: right; 
    position: absolute;
    right: 0;
    top: 0.8rem;
}


/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/doubleDashHero.jpg");
  
    /* Set a specific height */
    height: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 5rem;
}
  
/* Place text in the middle of the image */
.hero-header h1{         
    font-size: 6rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%); 
    color: white;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: white;
}

.hero-text p{
      font-size: 1.5rem;
      color: #ededed;
}
.hero-text button{
    margin-bottom: 0.5rem;
}